*.exe
*.dll

www/audio/
www/data/
www/fonts/
www/img/
www/save/   
www/icon/
**locales/
**scenario/
**MaterialGirl/
**MaterialGirl/*

audio
data
fonts
img
save 
locales
scenario
MaterialGirl


**js/plugins