*.exe
*.dll

www/audio/
www/data/
www/fonts/
www/img/
www/save/   
www/icon/
**locales/
**scenario/
**MaterialGirl/
**MaterialGirl/*
**/plugins

audio
data
fonts
img
save 
locales
scenario
MaterialGirl


**js/plugins

getMods.bat
./getMods.bat#



**libs/
plugins.js
rpg_core.js
rpg_managers.js
rpg_objects.js
rpg_scenes.js
rpg_sprites.js
rpg_windows.js
